div {
  background-color: #7FFFD4;

  border-color: #ABD9FF;
  padding: 0px;
  border-top: 0px;
  margin: 0px;
}

body {
  margin: 0;
  text-align: center;
  font-family: monospace;

}

h1 {
  font-size: 60px;

  margin: 30px auto 0 auto;


}
h2 {
  font-size: 20px;
  font-weight: normal;
  color: #66BFBF;
}
h3 {
  color: #11999E;
  font-size: 140%;
}
.btn {
  color: #11999E;
}
.footer-link {
  color: #11999E;
}
div {
background-color: #fffcec;}

.Top-Container {
  background-color: #7FFFD4;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.Bottom-Container {
  background-color: #fffcec;
}

.pro {
  text-decoration: underline;
}
  .top-cloud {
    position: absolute;
    right:500px;
    top: 30px;
  }

    .skill-row {
      width:50%;
      margin: 100px auto 100px auto;
      text-align: left;
      line-height: 2;
    }

    .first-skill {
      width: 25%;
      float: left;
      padding: 30px;
    }

    .mogames {
      width: 15%;
      float: right;
      padding: 20px;

    }
  .contact-me {
    text-align: center;
    margin: auto;
    background-color: #fffcec;
  }

  .code-skill-description {
    clear: left;
  }

.code-skill-description2 {
  clear: right;
}

  .footnotes {
    background-color: #fffcec;
    margin: auto;
  }

.wizard {

  border: none;
  background-color: #fffcec;
  width: 10%;
}

.plebp {
  line-height: 2;
  font-size: 90%;
}

.ordont {
  font-size: 40%;
}

  .bottom-cloud {
    position: absolute;
    left: 420px;
    bottom: 300px;

  }
